PORTFOLIO_BACKEND_HOST=""
PORTFOLIO_BACKEND_PORT=""
PORTFOLIO_BACKEND_DB_HOST=""
PORTFOLIO_BACKEND_DB_PORT=""
PORTFOLIO_BACKEND_DB_USER=""
PORTFOLIO_BACKEND_DB_PASS=""
PORTFOLIO_BACKEND_DB_BASE=""
PORTFOLIO_BACKEND_OPENAI_API_KEY=""
